@page "/users/{Id}"
@using CleanUp.WebApi.Sdk.Models

<HeroTitle Title="@Title" Description="@Description" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        <AuthorizeView Policy="Permissions.User.Manage">
            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Impostazioni amministratore</MudText>
                            <MudText Typo="Typo.body2">Visualizzazione amministratore</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="pa-46" Style="padding:26px!important">
                        <MudGrid>
                            @*<MudCheckBox @bind-Checked="@_active" Label="Attivo?" Color="Color.Primary"></MudCheckBox>*@
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="() => null" ButtonType="ButtonType.Submit">Salva modifiche</MudButton>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </AuthorizeView>
        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Profilo pubblico</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudField Label="Nome" Variant="Variant.Text">@_firstName</MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Cognome" Variant="Variant.Text">@_lastName</MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Numero di telefono" Variant="Variant.Text">@_phoneNumber</MudField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudField Label="Email" Variant="Variant.Text">@_email</MudField>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudTable Hover="true" Elevation="25" Items="workDays" Dense="true" Bordered="false" Striped="true">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
            </div>
            <MudSpacer />
                        
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<WorkDay, object>(x => x.Start)">Inizio</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<WorkDay, object>(x => x.End)">Fine</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">Azioni</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Start">
                <MudHighlighter Text="@context.Start.ToString()" />
            </MudTd>
            <MudTd DataLabel="End">
                <MudHighlighter Text="@context.End.ToString()"/>
            </MudTd>
            
            @*<MudTd DataLabel="Actions" Style="text-align:right">
                <MudMenu Label="Azioni" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                    <MudMenuItem OnClick="(()=>InvokeUpdateEventModal(context.Id))">Modifica</MudMenuItem>
                    <MudMenuItem OnClick="(()=>InvokeDeleteEventModal(context.Id))">Elimina</MudMenuItem>
                </MudMenu>
            </MudTd>*@
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}