@inject Microsoft.Extensions.Localization.IStringLocalizer<UploadProductsModal> _localizer

<EditForm Model="@UpdateProductModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                Aggiorna prodotti
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudItem>
                        @if (_file != null)
                        {
                            <MudAlert>@_file.Name</MudAlert>
                        }
                        @*@if (UpdateProductModel.Id != 0 && !string.IsNullOrEmpty(UpdateProductModel.URL))
                        {
                            <MudAlert>@(UpdateProductModel.URL)</MudAlert>
                        }*@
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                        Variant="Variant.Text"
                                        Color="Color.Primary"
                                        Size="Size.Small"
                                        StartIcon="@Icons.Filled.CloudUpload"
                                        for="fileInput">
                                Carica
                            </MudButton>
                        </div>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" OnClick="Cancel">Annulla</MudButton>
            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">Salva</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>