@page "/"
@using System.Globalization
@using CleanUp.Client.Helpers
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<div id="index" class="px-5">
    <h1 class="mb-5">Ordini</h1>
    
    <div class="row align-items-center">
        <div class="col-12 col-lg-3">
            <div class="form-group d-flex align-items-center">
                <label>Data da</label>
                <input type="date" class="form-control mx-sm-3" @bind="filterModel.FromDate" @onfocusout="() => UpdateOrders()">
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="form-group d-flex align-items-center">
                <label>Data a</label>
                <input type="date" class="form-control mx-sm-3" @bind="filterModel.ToDate" @onfocusout="() => UpdateOrders()">
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="form-group d-flex align-items-center">
                <label>Indirizzo</label>
                <select class="form-control mx-sm-3" @onchange="OnSelectedCompanyAddressChange">
                    <option></option>
                    @if (companyAddresss != null)
                    {
                        @foreach(var option in companyAddresss)
                        {
                            <option value="@option.Id">@($"{option.StreetName}, {option.StreetNumber} - {option.City}")</option>
                        }
                    }
                </select>  
            </div>
        </div>
        <div class="col-12 col-lg-3" style="text-align:right;">
            @if (canCreateNewOrder)
            {
                <button class="btn btn-primary" @onclick="@(() => navigationManager.NavigateTo("/order/new/schedule"))">NUOVO ORDINE</button>   
            }
        </div>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th></th>
                <th>Numero ordine</th>
                <th>Data ultima modifica ordine</th>
                <th>Date consegna ordine</th>
                <th>Indirizzo di consegna</th>
                <th>Importo</th>
            </tr>
        </thead>
        <tbody>
            @if (loading)
            {
                <tr>
                    <td colspan="6" class="text-center">Caricamento...</td>
                </tr>
            }
            else if (!orders.Any())
            {
                <tr>
                    <td colspan="6" class="text-center">Nessun elemento</td>
                </tr>
            }
            else
            {
                @foreach (var order in orders)
                {
                    <tr>
                        <td><a href="order/@(order.Id)"><img src="/img/info-icon.svg" /></a></td>
                        <td>@order.Id</td>
                        <td>
                            @{
                                var dates = new List<DateTime>();
                            }
                            @foreach (var childOrder in order.ChildrenOrders)
                            {
                                var date = OrderHelper.GetLastFullEditDate(childOrder);
                                if (date == null)
                                    continue;
                                dates.Add(date.Value);
                            }
                            <span>@(dates.Count == 0 ? "-" : dates.First().ToString("ddd dd/MM/yyyy", new CultureInfo("it-IT")))</span>
                        </td>
                        <td>
                            @string.Join(", ", order.ChildrenOrders.Select(x => x.OrderDate.ToString("ddd dd/MM/yyyy", new CultureInfo("it-IT"))))
                        </td>
                        <td>@($"{order.CompanyAddress.StreetName}, {order.CompanyAddress.StreetNumber} - {order.CompanyAddress.City}")</td>
                        <td>€ @(Math.Round(order.FinalPrice, 2).ToString("0.00"))</td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

    
    <div class="d-flex justify-content-end">
        <div>
            <img class="pointer" src="/icons/keyboard_double_arrow_left.svg" @onclick="FirstPage" />
            <img class="pointer" src="/icons/arrow_back.svg" style="width:28px;" @onclick="PreviousPage"/>
            <span>Pagina</span> <input class="page-number" type="number" @bind="pageNumber" @onfocusout="() => UpdateOrders()" min="1" /> <span>di @TotalPages</span>
            <img class="pointer" src="/icons/arrow_forward.svg" style="width:28px;" @onclick="NextPage" />
            <img class="pointer" src="/icons/keyboard_double_arrow_right.svg" @onclick="LastPage" />
        </div>
    </div>

</div>
