@page "/password-reset"
@layout LoginLayout

<PageTitle>Recupera password</PageTitle>



<div id="password-recovery">

	<div class="container pt-5">
		<img id="logo" src="img/erbert-logo.png" class="rounded mx-auto d-block" alt="CleanUp">

		<p class="text-center my-5">Gentile cliente, <br/>la preghiamo di inserire la nuova password.</p>
		<EditForm Model="passwordResetModel" OnValidSubmit="Submit">
			<DataAnnotationsValidator />
			<div class="mb-4">
				<InputText @bind-Value="passwordResetModel.Email" class="form-control" placeholder="Email" disabled></InputText>
				<ValidationMessage For="@(() => passwordResetModel.Email)" />

				<InputText type="password" @bind-Value="passwordResetModel.Password" class="form-control" placeholder="Password"></InputText>
				<ValidationMessage For="@(() => passwordResetModel.Password)" />

				<InputText type="password" @bind-Value="passwordResetModel.ConfirmPassword" class="form-control" placeholder="Conferma password"></InputText>
				<ValidationMessage For="@(() => passwordResetModel.ConfirmPassword)" />
			</div>

			<p class="text-center">@loginValidationMessage</p>

			<div class="my-5 text-center">
				<button type="submit" class="btn btn-primary mt-5 @(loading ? "disabled" : string.Empty)">CONFERMA</button>
			</div>
		</EditForm>
	</div>
	
</div>
