@page "/catalog/orders"
@attribute [Authorize(Policy = Permissions.Orders.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Orders> _localizer
@using ErbertPranzi.Application.Features.Orders.Queries.GetAllPaged;

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="Ordini" Description="Gestisci ordini" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" 
              @ref="_table" 
              MultiSelection="true" 
              ServerData="@(new Func<TableState, Task<TableData<GetAllPagedOrdersResponse>>>(ServerReload))" 
              T="GetAllPagedOrdersResponse" 
              Hover="true" 
              Dense="false" 
              Bordered="true" 
              Striped="true" 
              CustomHeader="true">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateOrders)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => PrintProducts())" StartIcon="@Icons.Material.Filled.Print" IconColor="Color.Surface" Color="Color.Primary">Stampa prodotti</MudButton>
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Ricarica</MudButton>
                }
                else
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Ricarica</MudButton>
                }
            </div>
            <MudSpacer />
            @if (_canSearchOrders)
            {
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Cerca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTHeadRow IgnoreCheckbox="true">
                <MudTh colspan="9">
                    <MudCheckBox T="bool" Checked="_hideCompletedOrders" CheckedChanged="@(x => ToggleCompletedOrders(x))">Nascondi ordini completati </MudCheckBox><br />
                    <MudCheckBox T="bool" Checked="hideVoidedOrders" CheckedChanged="@(x => ToggleVoidedOrders(x))">Nascondi ordini annullati </MudCheckBox>
                </MudTh>
            </MudTHeadRow>
            <MudTHeadRow IsCheckable="true">
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="Id">Id</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="OrderNumber">Numero ordine</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" Enabled="false" SortLabel="CustomerName">Nome azienda</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="CustomerAddress">Indirizzo azienda </MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="FinalPrice">Totale</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="ContactName">Nome contatto </MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="ContactPhoneNumber">Numero telefono contatto </MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="OrderDate" InitialDirection="SortDirection.Ascending">Data ordine</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="CompletionDateTime">Data completamento</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedOrdersResponse" SortLabel="CancellationDateTime">Data annullamento</MudTableSortLabel></MudTh>
            </MudTHeadRow>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id" @onclick="() => GoToOrderDetails(context.Id)">@context.Id</MudTd>
            <MudTd DataLabel="OrderNumber" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.OrderNumber.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="CustomerName" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.CustomerName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="CustomerAddress" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.CustomerAddress" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="FinalPrice" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@(string.Format("{0:N2} €", context.FinalPrice))" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="ContactName" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.ContactName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="ContactPhoneNumber" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.ContactPhoneNumber" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="OrderDate" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.OrderDate.ToShortDateString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="CompletionDateTime" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.CompletionDateTime?.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="CancellationDateTime" @onclick="() => GoToOrderDetails(context.Id)">
                <MudHighlighter Text="@context.CancellationDateTime?.ToString()" HighlightedText="@_searchString" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}