@page "/catalog/products"
@attribute [Authorize(Policy = Permissions.Products.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Products> _localizer
@using CleanUp.Application.Features.Products.Queries.GetAllPaged;

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="Prodotti" Description="Gestisci prodotti" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllPagedProductsResponse>>>(ServerReload))" Hover="true" Dense="false" Bordered="true" Striped="true" @ref="_table" CustomHeader="true">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateProducts)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => InvokeModal(0))" StartIcon="@Icons.Material.Filled.UploadFile" IconColor="Color.Surface">Carica</MudButton>
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Ricarica</MudButton>
                    @*@if (_canExportProducts)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }*@
                }
                else
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Ricarica</MudButton>
                    @*@if (_canExportProducts)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }*@
                }
            </div>
            <MudSpacer />
            @if (_canSearchProducts)
            {
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Cerca" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTHeadRow IgnoreCheckbox="true">
                <MudTh colspan="7">
                    <MudCheckBox T="bool" Checked="_hideNotActiveProducts" CheckedChanged="@(x => ToggleActiveProducts(x))">Nascondi prodotti non attivi </MudCheckBox>
                </MudTh>
            </MudTHeadRow>
            <MudTHeadRow IgnoreCheckbox="true">
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Id">Id</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Code">Codice prodotto</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Name">Nome</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Weight">Peso</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Price">Prezzo (€)</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="Tax">Tassa</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="GetAllPagedProductsResponse" SortLabel="IsActive">Attivo</MudTableSortLabel></MudTh>
                @*<MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>*@
            </MudTHeadRow>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Code">
                <MudHighlighter Text="@context.Code" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Weight">
                <MudHighlighter Text="@context.Weight.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Price">
                <MudHighlighter Text="@context.Price.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Tax">
                <MudHighlighter Text="@context.Tax.ToString()" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="IsActive">
                <MudCheckBox @bind-Checked="@context.IsActive" ReadOnly Color="Color.Secondary"></MudCheckBox>
                @*<MudHighlighter Text="@context.IsActive.ToString()" HighlightedText="@_searchString" />*@
            </MudTd>
            @*<MudTd DataLabel="Actions" Style="text-align: right">
            @if (_canEditProducts || _canDeleteProducts)
                {
                <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                    @if (_canEditProducts)
                        {
                        <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                        }
                    @if (_canDeleteProducts)
                        {
                        <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                        }
                </MudMenu>
                }
                else
                {
                <MudButton Variant="Variant.Filled"
                           DisableElevation="true"
                           StartIcon="@Icons.Material.Filled.DoNotTouch"
                           IconColor="Color.Secondary"
                           Size="Size.Small"
                           Color="Color.Surface">
                    @_localizer["No Allowed Actions"]
                </MudButton>
                }
        </MudTd>*@
        </RowTemplate>
        <FooterContent>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}